@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto:wght@300&display=swap');

body {
	font-family: 'Dosis', Arial, sans-serif;
	margin: 0;
	background-color: #ffddb7;
}

h1 {
	font-size: 4rem;
	margin: 0;
}

h2 {
	font-size: 3rem;
}

header {
	color: black;
}

p {
	font-size: x-large;
}

#menu {
	padding: 1rem 0;
	margin-bottom: 80px;
	background: url('/juice-shop/assets/images/menu1.jpg') center center / cover no-repeat fixed;
}

.text-white {
	color: #FFFFFF;
}

.orange-background {
    background-color: darkorange;
}

#banner {
    background: url('/juice-shop/assets/images/juiceSub.jpg') center center / cover no-repeat;
}

#banner-form {
    background: url('/juice-shop/assets/images/form-pic2Sub.jpg')  center top / cover no-repeat;
}

.welcome-banner {
	height: 78vh;
	background-position: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

nav {
	padding: 1rem;
}

nav > a {
	text-decoration: none;
	color: white;
	margin: 1rem;
}

nav > a:hover {
	color: #e6e3d1;
}

li {
    list-style-type: none;
}

.bold {
	font-weight: bold;
}

img {
	border-radius: 8px;
	width: 96%;
	margin: 2%;
}

.drink-option{
    color: #3f2d17;
    
}

.border-radius {
    border-radius: 8px;
}

#fresh-juice-box {
	background-color: #53643e;
    position: relative;
    left: 70px;
    top: -15px;
}

#smoothie-box {
	background-color: #ba1a1a;
	position: relative;
	z-index: 1;
}

#other-drinks-box {
	background-color: chocolate;
    position: relative;
    right: 70px;
    top: -15px;
}

.vertical-center {
    position: relative;
    top: 30%;
}

.two-thirds-width-column {
    width: 66.66%;
    display: inline-block;
}

.menu-box {
	width: 33%;
	margin: 1rem 0;
	display: inline-block;
}

/* footer padding */
#contactinfo {
    margin-bottom: 50px;
}

/* overrides h2 css */
#contact-h2-size {
    font-size: xx-large
}

.contact-info-boxes {
    width: 66%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-info-boxes > div{
    flex: 1 1 200px;
    padding: 20px;
}

.contact-info-left {
    width: 250px;
    margin-top: -20px;
	align-items: start;
}

.contact-info-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
	align-items: end;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

.medium-size-menu {
    font-size:large;
}

th, td {
    border-bottom: 1.5px solid #847469;
}

ul {
	padding: 0;
    font-size: x-large;
}

#reasons li {
    margin-top: 5%;
}

.icon {
    font-size:large;
}

.icon i {
    margin-right: 7px;
}

footer {
	background-color: #626200;
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: #e6e3d1;
}

footer > a {
	color: #e6e3d1;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: #e6e3d1;
    font-size: large;
}

fieldset {
	border: none;
	margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: darkorange;
	color: white;
	border: none;
	border-radius: 5px;
}

input[type=reset] {
	margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #5e361b;
    border: 1px solid #5e361b;
    border-radius: 5px;
}

/* default proporties for the following inputs */
input[type=text],
input[type=email],
input[list=drinks] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
}

/* overrides css above */
input[list=drinks] {
    width: 45%;
}

select {
    height: 36px;
    width: 100px;
    padding-left: 10px;
}

form {
	width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
}

.block-label {
	display: block;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}

.align-left {
    align-items: start;
}

.input-form{
    padding-right: 10px;
}

.message-button{
    width: 100px;
    height: 45px;
    background-color: darkorange;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
}

.div-horizontal{
    display: flex;
}

.align-right {
    align-items: end;
}

label {
    margin: 10px 15px 5px 0;
}

.checkboxes-box div {
    margin-top: 15px;
}

/*MAP*/
#map-wrapper {
    height: 300px;
    margin-bottom: 107px;
}

iframe {
    width: 100%;
    border: 0;
    height:300px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* media queries to create a responsive website */
@media only screen and (max-width: 1030px) {
    
    .two-thirds-width-column {
        width: 100%;
    }

    #menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-right:10px;
    }

    .menu-box {
        width: 100%;
    }

    #fresh-juice-box{
        position: static;
    }

    #smoothie-box{
        position: static;
    }

    #other-drinks-box{
        position: static;
    }

    form{
        width: 90%;
        padding:5px;
    }

    input[type=text], input[type=email], input[list=drinks] {
        width: 96%;
    }

    .birth-date{
        display: block;
    }

    #message-field{
        width:100%;
    }
    
    #feedback{
        width:100%;
    }
  }
